/*
  Possible Animations:
  enter
  leave
  appear Must set transitionAppear={true} on animation component 
*/

.example-enter
  opacity: 0.01
  &.example-enter-active 
    opacity: 1
    transition: opacity 500ms ease-in


.example-leave
  max-height: 600px
  opacity: 1
  &.example-leave-active 
    max-height: 1px
    opacity: 0
    transition: max-height 500ms ease-out, opacity 100ms


.example-appear
  opacity: 0.01
  &.example-appear-active
    opacity: 1
    transition: opacity 500ms ease-in


.longer-enter 
  opacity: 0.01
  &.longer-enter-active
    opacity: 1
    transition: opacity 800ms ease-in

.longer-leave
  max-height: 600px
  opacity: 1
  &.longer-leave-active
    max-height: 1px
    opacity: 0
    transition: max-height 500ms ease-out, opacity 100ms

.longer-appear
  opacity: 0.01
  &.longer-appear-active
    opacity: 1
    transition: opacity 800ms ease-in
