@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500)

// Import all partials
@require './_*.styl'


.dashed-header
    margin-top: -8px
    background-color: white
    width: 100px
    margin-left: auto
    margin-right: auto
    font-weight: 500

.fabric-picker-container
  background: url("/build/media/login_background.jpg") no-repeat center center local
  height 100%

.fabric-picker-paper
  padding 100px
  @media (max-width: 500px)
    padding 10px
